@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@500&display=swap');
:root{
    --text-color: #FFFFFFFF;
    --secondary-color: #828282;
    --background-color: #181719;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #181719;
}
/* Navbar */
li{
    list-style: none;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.branding{
    width: 102px;
    height: 32px;
    left: 120px;
    top: 40px;

    border: 1px solid var(--text-color);
}
.nav-branding{
    width: 86px;
    height: 16px;
    left: 85px;
    top: 10px;
    font-family: 'Crimson Pro';
    font-size: 14px;
    text-transform: uppercase;
}
.nav-item{
    width: 57px;
    height: 22px;
    font-family: 'Montserrat';
    font-size: 18px;
    right: 20px;
}
.nav-link{
    transition: 0.7s ease;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Hamburger*/

/* Home */
.section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 15rem 6rem 0 3rem;
}
.text h3{
    font-family: 'Lora';
    font-size: 48px;
    color: var(--text-color);
}
.text p{
    width: 410px;
    height: 145px;
    margin-top: 30px;

    font-family: 'Montserrat';
    font-size: 24px;
    color: var(--text-color);
}
.readmore{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    color: var(--text-color);
}
.img{
    position: absolute;
    width: 737px;
    height: 555px;
    left: 1100px;
    top: 245px;
}
.section h3{
    margin: 0;
}
/*Comment section*/
.comment{
    position: absolute;
    width: 410px;
    height: 189px;
    left: 1400px;
    top: 722px;
    background: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-user{
    width: 85px;
    height: 72px;
    left: 935px;
}
.img-user img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 37px;
    left: 20px;
    top: 10px;
}
.user-name h3{
    font-family: 'Montserrat';
    color: var(--text-color);
    font-size: 14px;
    position: absolute;
    left: 100px;
    top: 20px;
}
.user-name p{
    position: absolute;
    font-family: 'Montserrat';
    font-size: 12px;
    color: var(--secondary-color);
    left: 100px;
    top: 40px;
}
.text-comment{
    position: absolute;
    left: 20px;
    top: 80px;
    font-family: 'Lora';
    font-weight: 700;
    width: 287px;
    height: 62px;
    font-size: 24px;
    color: var(--text-color);
}

/* Responsive */
@media screen and (max-width: 768px){
    .section{
        padding: 0px;
        margin: 3rem 2rem 0 2rem;
    }
    .text p{
        width: 250px;
        height: 85px;
        font-size: 14px;
    }
    .readmore{
        font-size: 14px;
        width: 80px;
        height: 17px;
        margin-top: 20px;
    }
    .text h3{
        width: 274px;
        height: 46px;
        left: 12px;
        top: 10px;
    
        font-size: 36px;
    }
    .img{
        position: absolute;
        width: 351px;
        height: 264px;
        left: 50px;
        top: 370px;
    }
    
    .comment{
        width: 300px;
        height: 138px;
        left: 92px;
        top: 536px;
    }
    .user-name h3{
        width: 133px;
        height: 12.44px;
        left: 100px;
        top: 20px;

        font-size: 12px;

    }
    .text-comment{
        font-size: 19px;
    }
    .hamburger{
        position: absolute;
        right: 50px;
    }
}
@media(max-width: 768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: #181719;
        width: 100%;
        height: 700px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: -50px;
    }
}